/* add css module styles here (optional) */

.fsContainer {
    width: 100%;
}

.fsInputContainer {
    position: relative;
    width: 100%;
    display: flex;
}

.fsOptionsListContainer {
    position: relative;
    width: 100%;
}

.fsOptionsList {
    width: inherit;
    position: absolute;
    background-color: #f2f2f2;
    z-index: 100;
    padding: 0;
    max-height: 300px;
    overflow-y: auto;
    margin-top: 0px
}

@media only screen and (max-height: 650px) {
    .fsOptionsList {
	max-height: 150px
    }
}

.fsOption {
    list-style: none;
    font-size: 15px;
    font-weight: 600;
    padding: 5px 5px 5px 15px;
    cursor: copy;
    overflow: hidden
}
.even {
    background: #e8e8e8
}
.fsOption:hover {
    background-color: #c2c2c2;
}

.fsOptionExtraInfo {
    float: right;
    margin: 0px 5px 0px 0px;
    font-size: 15px;
    color: #8b949e;
    font-weight: 400;
    pointer-events: none;
}

.fsLabelInput {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    width: 100%
}

.fsExtendIcon {
    width: 1.3rem;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border: 1px solid;
    border-color: #00000050;
    background: #e8e8e8
}

.fsExtendIcon:active {
    background: #c2c2c2
}
